<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <header>
            <nav>
                <!--*******-->
                <nav class="navbar body-tertiary">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" @click.prevent="page='catsearch'"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                            aria-controls="offcanvasNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                            aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Категории</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Закрыть"></button>
                            </div>
                            
                            <div class="offcanvas-body">
                                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                    <li class="nav-item">
                                    </li>
                                    <div class="row" v-if="page==='catsearch'">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="seldoc">Выбрать категорию</label>
                                                <select v-model="selCategory" v-on:change="getTovarByCategory"
                                                    name="selcat" id=" selcat " class="form-control">
                                                    <option value="">-</option>
                                                    <option :value="category.id" v-for="category in categories.data">
                                                        {{category.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <li class="nav-item dropdown">
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Действие</a></li>
                                            <li><a class="dropdown-item" href="#">Другое действие</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <!--******-->
                <div class="search-container">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск"
                            v-model="searchInputTovar" v-on:change="searchTovar" id="searchInputTovar"
                            class="form-control">
                        <div class="row" v-if="page==='search'">
                            <div class="col-md-6">
                            </div>
                        </div>
                </div>
                <ul>
                    <div class="buthed">
                        <button a href="#" type="button" @click.prevent="page='category'">Категории</a></button>
                        <button a href="#" type="button" @click.prevent="getTovar">Товар</a></button>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            @click.prevent="page='registr'">Регистрация</button>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            @click.prevent="page='login'">Вход</a></button>
                        <button a href="index.html" type="button">Главная</a></button>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        @click.prevent="page='addTovar'">Добавить товар</a></button>
                    </div>
                </ul>
            </nav>
        </header>

        <div class="advertising">
            <p>Скидки до 60% на первую покупку!</p>
        </div>


        <div class="banner">
            <img src="images/banner.png">
            <img src="images/slider1.jpg ">
        </div>

        <main>
                <div v-show="categories" v-show="page==='category'">
                    <div class="card">
                        <div class="card-header" v-for="category in categories.data">
                            <li>{{category.id}} {{category.name}}</li>
                        </div>
                        <div class="card mt-4">
                            <div class="card" v-show="tovars.data">
                                <div class="card-header">
                                    <h2>Товары</h2>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>Номер</th>
                                                <th>Количество</th>
                                                <th>Цена</th>
                                                <th>Название</th>
                                                <th>id кат.</th>
                                                <th>Название категории</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="tovar in tovars.data">
                                                <td>{{tovar.id}}</td>
                                                <td>{{tovar.number}}</td>
                                                <td>{{tovar.kol}}</td>
                                                <td>{{tovar.cena}}</td>
                                                <td>{{tovar.name}}</td>
                                                <td>{{tovar.category_id}}</td>
                                                <td>{{tovar.category}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                <nav>
                    <a class="nav-link" href="#" @click.prevent="page='addTovar'">Добавить товар</a>
                </nav>
                <!--Добавление нового товара-->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3>Добавление нового товара</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <form>
                                        <div class="row mb-3">
                                            <label for="seldoc" class="col-md-2 col-form-label">Категория</label>
                                            <div class="col-md-10">
                                                <select v-model="addTovarForm.category_id" name="selcat" id="seldoc"
                                                    class="form-control">
                                                    <option :value="category.id" v-for="category in categories.data">
                                                        {{category.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="inputName" class="col-md-2 col-form-label">Название</label>
                                            <div class="col-md-10">
                                                <input type="text" v-model="addTovarForm.name" class="form-control"
                                                    id="inputName">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="inputCena" class="col-md-2 col-form-label">Цена</label>
                                            <div class="col-md-10">
                                                <input type="number" v-model="addTovarForm.cena" class="form-control"
                                                    id="inputCena">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="inputKol" class="col-md-2 col-form-label">Количество</label>
                                            <div class="col-md-10">
                                                <input type="number" v-model="addTovarForm.kol" class="form-control"
                                                    id="inputKol">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="inputNumber" class="col-md-2 col-form-label">Номер
                                                товара</label>
                                            <div class="col-md-10">
                                                <input type="number" v-model="addTovarForm.number" class="form-control"
                                                    id="inputNumber">
                                            </div>
                                        </div>
                                        <button type="button" @click.prevent="addTovar" class="btn btn-primary">Добавить
                                            товар</button>


                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Заголовок модального окна</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Закрыть"></button>
                                                    </div>
                            
                                                    <div class="modal-body">
                                                        <label for="seldoc" class="form-label">Категория</label>
                                                        <input type="text" v-model="addTovarForm.category_id" class="form-control" id="seldoc"
                                                            placeholder="Категория" />
                                                        <label for="inputName" class="form-label">Название</label>
                                                        <input type="text" v-model="addTovarForm.name" class="form-control" id="inputName"
                                                            placeholder="Название" />
                                                        <label for="inputCena" class="form-label">Цена</label>
                                                        <input type="number" v-model="addTovarForm.cena" class="form-control" id="inputCena"
                                                            placeholder="Цена" />
                                                        <label for="inputKol" class="form-label">Количество</label>
                                                        <input type="number" v-model="addTovarForm.kol" class="form-control" id="inputKol"
                                                            placeholder="Количество" />
                                                            <label for="inputNumber" class="form-label">Номер</label>
                                                            <input type="number" v-model="addTovarForm.number" class="form-control" id="inputNumber"
                                                                placeholder="Номер" />
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" @click.prevent="addTovar" class="btn btn-primary">Добавить
                                                    товар</button>
                                                </div>

                            
                                                    <div class="modal-footer">
                                                        <button type="button" class="" data-bs-dismiss="modal">Отмена</button>
                                                        <button type="button" class="" v-on:click="register">Зарегистрироваться</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--Вывод ошибок добавления товара -->
                                            <div class="mt-4"
                                                v-if="addTovarResponse && addTovarResponse.body && addTovarResponse.status===422">
                                                <div v-for="error in addTovarResponse.body.errors"
                                                    class="alert alert-danger" role="alert">
                                                    {{error[0]}}
                                                </div>
                                            </div>
                                            <!--Успешное добавление товара -->
                                            <div class="mt-4"
                                                v-if=" addTovarResponse && addTovarResponse.body &&             addTovarResponse.status===201">
                                                <div class="alert alert-success" role="alert">
                                                    <pre>Номер товара {{ addTovarResponse.body.id}}</pre>
                                                    {{ addTovarResponse.body.message}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Конец добавления нового товара-->

        </main>
        <!---->
        <article v-show="page==='registr'">
            <!-- Модальное окно -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Заголовок модального окна</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                        </div>

                        <div class="modal-body">
                            <label for="name" class="form-label">Имя</label>
                            <input type="text" v-model="registerForm.name" class="form-control" id="name"
                                placeholder="Имя" />
                            <label for="email" class="form-label">Электронная почта</label>
                            <input type="email" v-model="registerForm.email" class="form-control" id="email"
                                placeholder="Почта" />
                            <label for="password" class="form-label">Пароль</label>
                            <input type="password" v-model="registerForm.password" class="form-control" id="password"
                                placeholder="Пароль" />
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="" data-bs-dismiss="modal">Отмена</button>
                            <button type="button" class="" v-on:click="register">Зарегистрироваться</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!--Вывод ошибок регистрации -->
                    <div class="mt-4" v-if="regResponse && regResponse.body && regResponse.status===422">
                        <div v-for="err in regResponse.body.errors.errors" class="alert alert-danger" role="alert">
                            {{err[0]}}
                        </div>
                    </div>
                    <!--Успешная регистрация -->
                    <div class="mt-4" v-else-if="regResponse && regResponse.status === 201">
                        <div class="alert alert-success" role="alert">
                            <pre>Token: {{regResponse.body.token}}</pre>
                            Всё круто! Вы теперь зарегистрированы!
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>
    </div>
    </article>


    <!---->

    <article v-show="page==='login'">
        <div id="app">
            <div class="modal fade" id="loginForm" tabindex="-1" aria- labelledby="loginFormLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>

                            <h5 class="modal-title fs-5" id="exampleModalLabel">Авторизация</h5>
                        </div>

                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="email" class="form-label">Электронная почта</label>
                                <input type="email" v-model="loginForm.email" type="text" class="form-control"
                                    id="emaillogin" placeholder="Почта" />
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Пароль</label>
                                <input type="password" v-model="loginForm.password" type="password" class="form-control"
                                    id="passwordlogin" placeholder="Пароль" />
                            </div>
                        </div>

                        <!--Вывод ошибок аутентификации-->
                        <div class="mt-4" v-if="logResponse && logResponse.body &&
        logResponse.status===401">
                            <div class="alert alert-danger" role="alert">
                                {{logResponse.body.errors.message}}
                            </div>
                        </div>

                        <!--Вывод ошибок валидации -->
                        <div class="mt-4" v-if="logResponse && logResponse.status === 422 || logResponse &&
        logResponse.status === 401 ">
                            <div v-for="error in logResponse.body.error.error" class="alert alert-danger" role="alert">
                                {{error[0]}}
                            </div>
                        </div>

                        <!--Успешный вход -->
                        <div class="mt-4" v-if="logResponse && logResponse.body &&
        logResponse.status===200">
                            <div class="alert alert-success" role="alert">
                                <pre>Токен {{logResponse.body.token}}</pre>
                                Успешный вход
                            </div>
                        </div>
                        <div class="modal-footer"><button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">
                                Отмена
                            </button>
                            <button type="button" class="btn btn-primary" v-on:click="login">Войти</button>
                        </div>
                    </div>
                </div>
            </div>
    </article>


    <footer>
        <div class="container-footer">
            <p>2024 MUZA</p>
            <ul class="social-links"></ul>
            <p><a href="#">Telegram</a></p>
            <p><a href="#">Instagram</a></p>
            <p><a href="#">Facebook</a></p>
        </div>
    </footer>

    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>